.role-tile1 .arrow-right,
.role-tile11 .arrow-right,
.role-tile111 .arrow-right {
    opacity: 0;  
    transition: opacity 0.3s ease;  
}
.role-tile1:hover .arrow-right,
.role-tile11:hover .arrow-right,
.role-tile111:hover .arrow-right {
    opacity: 1;  
}
.role-tile1:hover,
.role-tile11:hover,
.role-tile111:hover {
    background-color: #F5F5F7;
}
.tile {
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    background-color: #FFFFFF;
}
.tile:hover {
    background-color: #F5F5F7; 
}
.tile-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; 
}
.stacked-images {
    display: flex;
    position: relative; 
    width: 48px;  
    height: 48px;
    margin-right: 20px; 
}
.stacked-images img {
    position: absolute;  
    top: 0;
    left: 0;
}
.stacked-images img:first-child {
    width: 90%;  
    height: 90%; 
}
.stacked-images .top-image {
    z-index: 1; 
    width: 50%;  
    height: 50%;  
    top: 20%;  
    left: 20%;  
    opacity: 0.8;  
}
.arrow-right {
    width: 24px; 
    height: 24px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
.arrow-right img {
    width: 100%;
    height: auto; 
}
.tile-right {
    flex-grow: 1;  
    text-align: left; 
}
.tile-right h3 {
    margin: 0; 
    font-size: 1.5rem; 
    color: #252C32; 
}
.tile-right p {
    margin: -8px; 
    margin-top: 10px; 
    font-size: 1rem; 
    color: #555; 
}
.tile-content h3 {
    font-family: 'Poppins'; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 0; 
    color: #007DFA; 
}

.tile-content p {
    font-family: 'Poppins'; 
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 5px; 
    font-weight: normal; 
    color: #8692A6;
    padding-left: 10px; 
    padding-right: 10px;
}
.role-tile1,
.role-tile11,
.role-tile111 {
    width: 426px;
    height: 108px;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
}
.join-us {
    width: 114px;
    height: 42px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;  
    color: #2F3367;
}

.signin-message {
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: right;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #8692A6;
}

.join-us-desc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #8692A6;
}

.form-padding3 {
    padding: 0px;
}

.link {
    text-decoration: none;
}
